pymongo==4.6.3
python-dotenv==1.0.1
requests
Pillow

google-generativeai==0.7.2
google-api-core==2.19.1
google-auth==2.33.0
protobuf==4.25.4
grpcio==1.66.1

langchain-core
langchain-google-genai
langsmith==0.6.6
